body {
  margin: 0;
  text-align: center;

}


.top-container {
  background-color: ivory;
  position: relative;
  padding-top: 100px;
}

.in{
  font-weight:normal;
}

h1{
  font-size: 5.625rem;
  font-feature-settings: normal;color: chartreuse;
  margin: 50px auto 0 auto;
  font-family: 'Great Vibes', cursive;
}

h2{
  font-style: normal;color: sienna;
  font-size: 2.5rem;
  font-family: 'Special Elite', cursive;
  padding-bottom: 10px;
}

h3{
    font-style: normal;color: chartreuse;
  font-size: 2.5rem;
  font-family: 'Special Elite', cursive;
  margin-bottom: 20px;

}
.middle-container{
  background-color: ivory;
}


.bottom-container{
  background-color: chartreuse;
  padding: 50px 0 0;

}

}
.bottom-container{
font-style: normal;color: sienna;
}
.abc{
  position: absolute;
  right: 300px;
  top: 50px;
}

.cba{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.init{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.programmer{width: 25%;
   float: left;
   margin-right:  30px;}
.network-architect{width: 25%;
  float: right;
  margin-right:  30px;}
.security-analyst{width: 25%;
  float: left;
  margin-right:  30px;}
.musician{width: 25%;
  float: right;
  margin-right:  30px;}

p{
  font-weight: bold;
  padding-bottom: 70px;
  font-size: 1.3rem;
  line-height: 2;


}

hr {
  background-color: ivory;
  border-color: lemonchiffon;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
  padding-bottom: 70px;
  margin: 50px auto 50px auto;


}
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80ff00), color-stop(1, #72bf20) );
	background:-moz-linear-gradient( center top, #80ff00 5%, #72bf20 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ff00', endColorstr='#72bf20');
	background-color:#80ff00;
	-webkit-border-top-left-radius:18px;
	-moz-border-radius-topleft:18px;
	border-top-left-radius:18px;
	-webkit-border-top-right-radius:18px;
	-moz-border-radius-topright:18px;
	border-top-right-radius:18px;
	-webkit-border-bottom-right-radius:18px;
	-moz-border-radius-bottomright:18px;
	border-bottom-right-radius:18px;
	-webkit-border-bottom-left-radius:18px;
	-moz-border-radius-bottomleft:18px;
	border-bottom-left-radius:18px;
text-indent:0;
	border:1px solid #80ff00;
	display:inline-block;
	color:#ffffff;
  font-family: 'Special Elite', cursive;	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #86ae47;
  margin-bottom: 100px;

}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72bf20), color-stop(1, #80ff00) );
	background:-moz-linear-gradient( center top, #72bf20 5%, #80ff00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72bf20', endColorstr='#80ff00');
	background-color:#72bf20;
}.btn:active {
	position:relative;
	top:1px;
}

.profile{
  padding-top: 80px;
}
.contact-m{
  width: 40%;
  margin: auto;
}
a{
  color: sienna;
  font-family: 'Special Elite', cursive;
  margin: 10px 50px;
  text-decoration: none;
}
a:hover{
  color: #FFD700;
}
.td{
  font-size: 15px;
  padding: 30px 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  color: ivory;

}
.touch{
  font-size: 1.5rem;
  }
